@charset "utf-8";

body{
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

nav ul {
    display: flex;
    gap: 1rem;
  }

li {
    display: inline-block; 
}



img{
    width: 100px;
}


